@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

body {
  font-family: sans-serif;
}

* {
  color: white;
}
body {
  background-color: #080808;
  box-sizing: border-box;
}
#AllTasks::-webkit-scrollbar {
  display: none;
}
#btn{
  color: black;
  box-shadow: 5px 5px 0px 1px rgba(0, 0, 0, 0.2);
}
#tasklist::-webkit-scrollbar{
  display: none;
}
#Login-box{
  background-color: #1a1a1a;
  box-shadow: 0px 0px 10px 1px rgb(105, 105, 105);
}
#login-form{
  box-shadow: 0 0 10px 2px #686868;
}